<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://githubactionsstudy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2ceceffc-b0a5-48ea-849e-5c4bf2e82a81/resourceGroups/microservices-dewetech-tst-rg/providers/Microsoft.Web/sites/GithubActionsStudy</ResourceId>
    <UserName>$GithubActionsStudy</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://githubactionsstudy.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>